In [37]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [38]:
data_df = pd.read_csv("animals.csv")
data_df

,Unnamed: 0,Animal Name,Kingdom,Phylum,Subphylum,Class,Subclass,Infraclass,Order,Superorder,Suborder,Infraorder,Family,Superfamily,Subfamily,Genus,Subgenus,Tribe,Clade
0,0,Arctic Wolf,Animalia,Chordata,Vertebrata,Mammalia,NaN,NaN,Carnivora,NaN,Caniformia,NaN,Canidae,NaN,NaN,Canis,NaN,NaN,NaN
1,1,Arctic Fox,Animalia,Chordata,Vertebrata,Mammalia,NaN,NaN,Carnivora,NaN,Caniformia,NaN,Canidae,NaN,NaN,Vulpes,NaN,NaN,NaN
2,2,Pink Fairy Armadillo,Animalia,Chordata,Vertebrata,Mammalia,NaN,NaN,Cingulata,NaN,NaN,NaN,Chlamyphoridae,NaN,Chlamyphorinae,Chlamyphorus,NaN,NaN,NaN
3,3,Sumatran Elephant,Animalia,Chordata,Vertebrata,Mammalia,NaN,NaN,Proboscidea,NaN,NaN,NaN,Elephantidae,NaN,NaN,Elephas,NaN,NaN,NaN
4,4,Ermine,Animalia,Chordata,Vertebrata,Mammalia,NaN,NaN,Carnivora,NaN,Caniformia,NaN,Mustelidae,NaN,Mustelinae,Mustela,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1344,1344,Southern Ground Hornbil,Animalia,Chordata,NaN,Aves,NaN,NaN,Bucerotiformes,NaN,NaN,NaN,Bucorvidae,NaN,NaN,Bucorvus,NaN,NaN,NaN
1345,1345,Scarlet Ibis,Animalia,Chordata,NaN,Aves,Neornithes,Neognathae,Pelecaniformes,Neoaves,NaN,NaN,Threskiornithidae,NaN,NaN,Eudocimus,NaN,NaN,NaN
1346,1346,Rufous Hummingbird,Animalia,Chordata,NaN,Aves,NaN,NaN,Apodiformes,NaN,NaN,NaN,Trochilidae,NaN,NaN,Selasphorus,NaN,NaN,NaN
1347,1347,Crested Ibis,Animalia,Chordata,NaN,Aves,Neornithes,Neognathae,Pelecaniformes,Neoaves,NaN,NaN,Threskiornithidae,NaN,NaN,Nipponia,NaN,NaN,NaN
1348,1348,Northern Goshawk,Animalia,Chordata,NaN,Aves,NaN,NaN,Accipitriformes,NaN,NaN,NaN,Accipitridae,NaN,NaN,Accipiter,NaN,NaN,NaN

In [39]:
# Animal Name, Kingdom, Phylum, Class, Order, Family, Genus

nice_columns=['Animal Name', 'Kingdom', 'Phylum', 'Class', 'Order', 'Family', 'Genus']

In [40]:
new_data=data_df[data_df.columns.intersection(nice_columns)]
new_data

,Animal Name,Kingdom,Phylum,Class,Order,Family,Genus
0,Arctic Wolf,Animalia,Chordata,Mammalia,Carnivora,Canidae,Canis
1,Arctic Fox,Animalia,Chordata,Mammalia,Carnivora,Canidae,Vulpes
2,Pink Fairy Armadillo,Animalia,Chordata,Mammalia,Cingulata,Chlamyphoridae,Chlamyphorus
3,Sumatran Elephant,Animalia,Chordata,Mammalia,Proboscidea,Elephantidae,Elephas
4,Ermine,Animalia,Chordata,Mammalia,Carnivora,Mustelidae,Mustela
...,...,...,...,...,...,...,...
1344,Southern Ground Hornbil,Animalia,Chordata,Aves,Bucerotiformes,Bucorvidae,Bucorvus
1345,Scarlet Ibis,Animalia,Chordata,Aves,Pelecaniformes,Threskiornithidae,Eudocimus
1346,Rufous Hummingbird,Animalia,Chordata,Aves,Apodiformes,Trochilidae,Selasphorus
1347,Crested Ibis,Animalia,Chordata,Aves,Pelecaniformes,Threskiornithidae,Nipponia
1348,Northern Goshawk,Animalia,Chordata,Aves,Accipitriformes,Accipitridae,Accipiter

In [41]:
new_data["Class"].unique()

array(['Mammalia', 'Reptilia', 'Aves'], dtype=object)

In [42]:
len(new_data[new_data["Class"]=="Reptilia"])

206

In [43]:
reptiles_df = new_data[new_data["Class"]=="Reptilia"]

In [44]:
reptiles_df["Order"].unique()

array(['Squamata', 'Testudines', 'Crocodilia'], dtype=object)

In [45]:
len(reptiles_df[reptiles_df["Order"]=="Squamata"]["Family"].unique())

22

In [46]:
len(reptiles_df[reptiles_df["Order"]=="Testudines"]["Family"].unique())

6

In [47]:
len(reptiles_df[reptiles_df["Order"]=="Crocodilia"]["Family"].unique())

3

In [48]:
final_reptiles_df = reptiles_df[reptiles_df['Order'].isin(['Testudines','Crocodilia'])]

In [49]:
final_reptiles_df

,Animal Name,Kingdom,Phylum,Class,Order,Family,Genus
816,Texas Tortoise,Animalia,Chordata,Reptilia,Testudines,Testudinidae,Gopherus
817,Indian Star Tortoise,Animalia,Chordata,Reptilia,Testudines,Testudinidae,Geochelone
820,Nile Crocodile,Animalia,Chordata,Reptilia,Crocodilia,Crocodylidae,Crocodylus
821,Egyptian Tortoise,Animalia,Chordata,Reptilia,Testudines,Testudinidae,Testudo
822,Philippine Crocodile,Animalia,Chordata,Reptilia,Crocodilia,Crocodylidae,Crocodylus
...,...,...,...,...,...,...,...
978,Mata Mata,Animalia,Chordata,Reptilia,Testudines,Chelidae,Chelus
980,Eastern Box Turtle,Animalia,Chordata,Reptilia,Testudines,Emydidae,Terrapene
994,Spiny Softshell Turtle,Animalia,Chordata,Reptilia,Testudines,Trionychidae,Apalone
996,Alabama Red-Bellied Turtle,Animalia,Chordata,Reptilia,Testudines,Emydidae,Pseudemys
1009,Florida Softshell Turtle,Animalia,Chordata,Reptilia,Testudines,Trionychidae,Apalone

In [50]:
final_reptiles_df.to_csv("reptiles.csv")

In [51]:
## Check data to represent it

In [52]:
## Testudines order

In [53]:
testudines = final_reptiles_df[final_reptiles_df["Order"]=="Testudines"]

In [54]:
testudines["Family"].unique()

array(['Testudinidae', 'Cheloniidae', 'Chelidae', 'Chelydridae',
       'Emydidae', 'Trionychidae'], dtype=object)

In [55]:
testudines[testudines["Family"]=="Testudinidae"]["Genus"].unique()

array(['Gopherus', 'Geochelone', 'Testudo', 'Centrochelys', 'Agrionemys',
       'Stigmochelys', 'Chelonoidis', 'Astrochelys', 'Aldabrachelys',
       'Malacochersus'], dtype=object)

In [56]:
testudines[testudines["Family"]=="Cheloniidae"]["Genus"].unique()

array(['Chelonia', 'Eretmochelys'], dtype=object)

In [57]:
testudines[testudines["Family"]=="Chelidae"]["Genus"].unique()

array(['Chelodina', 'Chelus'], dtype=object)

In [58]:
testudines[testudines["Family"]=="Chelydridae"]["Genus"].unique()

array(['Chelydra', 'Macrochelys'], dtype=object)

In [59]:
testudines[testudines["Family"]=="Emydidae"]["Genus"].unique()

array(['Pseudemys', 'Malaclemys', 'Glyptemys', 'Actinemys', 'Trachemys',
       'Chrysemys', 'Terrapene'], dtype=object)

In [60]:
testudines[testudines["Family"]=="Trionychidae"]["Genus"].unique()

array(['Apalone'], dtype=object)

In [61]:
## Crocodilia order

In [62]:
cocodrilos=final_reptiles_df[final_reptiles_df["Order"]=="Crocodilia"]

In [63]:
cocodrilos["Family"].unique()

array(['Crocodylidae', 'Alligatoridae', 'Gavialidae'], dtype=object)

In [64]:
cocodrilos[cocodrilos["Family"]=="Crocodylidae"]["Genus"].unique()

array(['Crocodylus', 'Osteolaemus'], dtype=object)

In [65]:
cocodrilos[cocodrilos["Family"]=="Alligatoridae"]["Genus"].unique()

array(['Melanosuchus', 'Alligator', 'Caiman', 'Paleosuchus'], dtype=object)

In [66]:
cocodrilos[cocodrilos["Family"]=="Gavialidae"]["Genus"].unique()

array(['Gavialis', 'Tomistoma'], dtype=object)